<html>
    <body>
        <button x="0px" y="0px" width="200px" height="50px" radius="10%" borderWidth="10px" bgColorOne="rgba(0,0,0,255)" bgColorTwo="rgba(0,0,255,255)" borderColorOne="rgba(255,0,0,255)" borderColorTwo="rgba(0,0,0,255)">File</button>
        <button x="300px" y="300px" width="50px" height="100px" radius="100%" borderWidth="5px" bgColorOne="rgba(0,255,0,255)" borderColorOne="rgba(0,0,0,255)">Edit</button>
        <text x="100px" y="100px" size="15px" color="rgba(0,0,255,255)">This is text</text>
    </body>
</html>